body {
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  height: 100px;
  background-color: mediumseagreen;
  font-size: 54px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  padding-left: 64px;
  border-style: solid;
}

.libContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 64px;
  background-color: lightyellow;
  border-style: solid;
}

#add-new {
  border-radius: 8px;
  width: 128px;
  height: 42px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
  font-size: 16px;
  font-weight: bolder;
}

.book-cards {
  display: flex;
  background-color: mediumaquamarine;
  height: 100%;
  flex: 1;
  padding: 32px 90px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 270px;
  height: 270px;
  background-color: mediumturquoise;
  border-style: solid;
  border-radius: 44px;
}

.card-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-bottom: solid;
  width: 80%;
}

.card-remove {
  border-radius: 10px;
  align-self: flex-end;
  font-size: 18px;
  font-weight: bolder;
}

#add-book-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form {
  width: 600px;
  height: 720px;
  border-radius: 18px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#exit-button {
  border-radius: 14px;
  align-self: flex-end;
  font-size: 18px;
  font-weight: bolder;
}

#content {
  width: 500px;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.title {
  font-size: 32px;
}

.footer {
  background-color: lightyellow;
  height: 64px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bolder;
}
